/* play-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-brand: #2b7fff;
  --color-secondary-top: #4a4a4a;
  --color-secondary-bottom: #747272;
}

/* Base */

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17; /* line-height: normal */
  margin: 0;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-position-y: 1320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 56px;
}
.link-top {
  color: var(--color-primary-dark);
  text-decoration: none;
}
.link-top:hover {
  color: var(--color-brand);
  font-weight: 700;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-icon:hover {
  fill: var(--color-brand);
}
/* Hero section */
.hero-section {
  padding: 48px 0px 126px 220px;
  background-image: url(../images/start-image-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-title {
  max-width: 529px;
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.button {
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 500;
  border-radius: 32px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
  margin-bottom: 14px;
}
.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}
.hero-text {
  max-width: 238px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0;
}

/* About us section */
.aboutus-container {
  display: flex;
  gap: 28px;
}
.aboutus-content {
  max-width: 710px;
}
.aboutus-section-title {
  width: 529px;
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
}
.aboutus-section-title .accent {
  color: var(--color-brand);
  text-transform: capitalize;
}
.aboutus-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.72;
  margin-bottom: 40px;
}

.aboutus-text .accent {
  font-weight: 500;
  text-transform: capitalize;
}
.aboutus-faces {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  max-width: 500px;
  margin: 0;
}
.face-top {
  display: flex;
  /* justify-content: left; */
  justify-content: start;
  flex-grow: 1;
  margin-bottom: 40px;
}
.face-bottom {
  display: flex;
  justify-content: end;
  /* justify-content: right; */
  flex-grow: 1;
}
.face-radius {
  border-radius: 327px;
  box-shadow: 0px 4px 4px 0px #a8c6f533;
}
/* Why We Section */

.whywe-section {
  margin: 176px auto 96px;
}

.whywe-title {
  max-width: 432px;
}
.section-title {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin: 0 auto 48px;
}
.section-title .accent {
  color: var(--color-brand);
}
.whywe-list {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
}
.whywe-item {
  flex-basis: calc((100% - 112px) / 3);
}
.whywe-card {
  height: 181px;
  padding: 24px 32px;
  border-radius: 32px;
  background-color: var(--color-primary-light);
  box-shadow: 0px 4px 4px 0px #a8c6f561;
}
.whywe-icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.whywe-icon {
  fill: var(--color-brand);
}

.whywe-text {
  color: #000;
  text-align: center;
  line-height: 1.33;
  margin: 0;
}

/* Procedures Section */

.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  /* fill: var(--color-primary-dark); */
  background-color: transparent;
  border-radius: 50%;
  /* border: 1px solid var(--color-primary-dark); */
  cursor: pointer;
}
.carousel-button:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
}
.procedures-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}
.procedures-card {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 456px;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--color-primary-dark) 101.39%
  );
  border: 1px solid lightgray; /*remove*/
}
.procedures-text {
  width: 152px;
  text-align: center;
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 1.18;
}

/* Contact section */

.contact-section {
  padding: 96px 0;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  /* flex-shrink: 0; */
  border-radius: 32px;
}
.contact-text {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
.contact-text .accent {
  color: var(--color-brand);
}

/* Footer section */
.footer {
  padding: 56px 0;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-nav,
.footer-address {
  display: flex;
  gap: 20px;
  flex-basis: 50%;
}
.address-list,
.address-info {
  flex-grow: 1;
}
.link-footer {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}
.link-footer:hover {
  color: var(--color-brand);
  font-weight: 700;
}
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand);
}
.address-icons {
  display: flex;
}
.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand);
}
.adress-copyright {
  color: var(--color-secondary-bottom);
  font-size: 13px;
}
/* test1 */
