body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17; /* line-height: normal */
  margin: 0;
  // background-image: url(../images/background.svg);
  // background-repeat: no-repeat;
  // background-position: center top;
  // background-size: contain;
  // background-position-y: 1320px;
  // @media screen and (max-width: $bp-tablet) {
  //   background-position-y: 740px;
  // }
  // @media screen and (max-width: $bp-mobile) {
  //   background-position-y: 948px;
  // }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
img {
  display: block;
  // max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  display: inline-block;
}
address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
