.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  @media screen and (max-width: $bp-tablet) {
    backdrop-filter: none;
    background-color: transparent;
    box-shadow: none;
    padding: 16px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
    // @media screen and (max-width: $bp-tablet) {
    //   display: none;
    // }
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 56px;
    @media screen and (max-width: $bp-desktop) {
      justify-content: space-evenly;
      gap: 0;
    }
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 32px;
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
  &__icon {
    transition: fill 0.2s;
    &:hover {
      fill: var(--color-brand);
      // @media screen and (max-width: $bp-tablet) {
      //   display: none;
      // }
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: $bp-tablet) {
      // position: fixed;
      // right: 24px;
      display: block;
      background-color: transparent;
      border: none;
      width: 24px;
      height: 24px;
      padding: 0;
      fill: var(--color-primary-light);
    }
  }
}
